		<div class="header">Cards</div>
		<div class="top-menu">
			<a href="#/dics" id="btn-back-dic" class="btn btn-default">
				<span class="glyphicon glyphicon-chevron-left"></span>Back
			</a>
			<a href="#/dics/{{dicId}}/cards/new" id="btn-add-card" class="btn btn-primary">Add...</a>
			<button ng-click="learnAll()" id="btn-learn-dic" class="btn btn-default">Learn</button>
			<button ng-click="reset()" id="btn-reset-dic" class="btn btn-default">Reset</button>
		</div>
		<ul id="cards" ng-repeat="card in cards">
			<li class="card-item" learnt="{{card.learnt}}">
				<div>
					<span class="main-text" ng-click="toggleCard(card)" >{{card.word}}</span>
					<a href="#/dics/{{dicId}}/cards/edit/{{card._id}}" style="position : absolute; right: 45px; top: 0px;" class="btn btn-default" name="edit-card">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<button ng-click="deleteCard(card)" style="position : absolute; right: 0px; top: 0px;" class="btn btn-danger" style="float: right;" name="delete-card">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</div>
			</li>
		</ul>