<div class="header">Dictionaries</div>
<ul id="dictionaries">
				<li class="dic-item" ng-repeat="dic in dics">
					<div>
						<a href="#/dics/{{dic._id}}/learn">
							<span class="main-text">{{dic.name}}</span>
						</a>
						<a href="#/dics/{{dic._id}}/cards" style="position : absolute; right: 45px; top: 0px;" class="btn btn-default" name="edit-dic">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button ng-click="deleteDictionary(dic)" style="position : absolute; right: 0px; top: 0px;" class="btn btn-danger" style="float: right;" name="delete-dic">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				</li>
</ul>
<div>
				<input type="text" id="dic-name" ng-model="newDicName"></input>
				<button ng-click="addDictionary()" id="btn-add-dic" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus"></span>Add
				</button>
</div>